<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}{{ title }}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block stylesheet %}
			{% stylesheet '//fonts.googleapis.com/css?family=Irish+Grover' '//fonts.googleapis.com/css?family=La+Belle+Aurore' '@RapsysBlogBundle/Resources/public/css/{reset,screen}.css' %}
				<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
			{% endstylesheet %}
		{% endblock %}
		<!--{% block javascript %}
			{% javascript '@RapsysBlogBundle/Resources/public/js/*.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascript %}
		{% endblock %}-->
		<link rel="icon" type="image/png" href="{{ asset('bundles/rapsysblog/png/favicon.png') }}" sizes="192x192" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/rapsysblog/ico/favicon.ico') }}" />
		{% block alternate %}
			<link rel="alternate" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'_locale': 'en'}))) }}" hreflang="en"/>
			<link rel="alternate" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'_locale': 'fr'}))) }}" hreflang="fr"/>
		{% endblock %}
	</head>
	{% block body %}<body></body>{% endblock %}
</html>
