{% extends '@RapsysBlog/_base.html.twig' %}
{% block content %}
	<section id="content">
		<header>
			<h1><a href="{{ path('rapsys_blog_article') }}">{{ title }}</a></h1>
			<p>{{ description }}</p>
		</header>
		<section>
			{% for article in articles %}
				<article>
					<header>
						<h2><a href="{{ path('rapsys_blog_article_view', {'id': article.id, 'slug': article.slug}) }}">{{ article.title }}</a></h2>
					</header>
					<section>
						<p>{{ article.description }}</p>
						{% if article.keywords is defined and article.keywords %}
							<nav>
								{% for keyword in article.keywords %}
									<a href="{{ path('rapsys_blog_keyword_view', {'id': keyword.id, 'slug': keyword.slug}) }}">{{ keyword.title }}</a>
								{% endfor %}
							</nav>
						{% endif %}
					</section>
					<footer>
						<nav>
							<a href="{{ path('rapsys_blog_article_view', {'id': article.id, 'slug': article.slug}) }}">{% trans %}Read more{% endtrans %}...</a>
						</nav>
					</footer>
				</article>
			{% endfor %}
		</section>
		{% if head.prev is defined or head.next is defined %}
			<footer>
				<nav class="pager">
					{% if head.prev is defined %}
						<a href="{{ head.prev }}" rel="prev">&lt; {% trans %}Previous articles{% endtrans %}</a>
					{% endif %}
					{% if head.next is defined %}
						<a href="{{ head.next }}" rel="next">{% trans %}Next articles{% endtrans %} &gt;</a>
					{% endif %}
				</nav>
			</footer>
		{% endif %}
	</section>
{% endblock %}
