{% extends '@RapsysBlog/_base.html.twig' %}
{% block content %}
	<section class="form">
		<header>
			<h2><a href="{{ path('rapsys_user_recover') }}">{{ title }}</a></h2>
		</header>
		<section>
			{% if sent %}
				<p class="message notice">{% trans %}Your account recovery message has been sent{% endtrans %}</p>
			{% else %}
				{{ form_start(recover) }}
					{% if recover.mail is defined %}
						{{ form_row(recover.mail) }}
					{% endif %}

					{% if recover.password is defined %}
						{{ form_row(recover.password) }}
					{% endif %}

					{{ form_row(recover.submit) }}

					{# Render CSRF token etc .#}
					<footer style="display:none">{{ form_rest(recover) }}</footer>
				{{ form_end(recover) }}
			{% endif %}
		</section>
	</section>
{% endblock %}
